<!-- Template 1 - Thermal Receipt Style -->
<div class="template-container zig-zag-top-bottom">
  <div class="template-content">

    <div class="pump-logo">
      <img id="pumpLogo" src="assets/images/logos/pump-logo-indian-oil.png" alt="Pump Logo" />
    </div>

    <div class="business-info center">
      <div id="address"><span class="data">GOKUL FUEL POINT YELANAHALLI, BEGUR 560068</span></div>
    </div>

    <div class="info-block">
      <div class="line-item">
        <span class="label">Receipt No</span>
        <span id="receiptNo" class="data">0000000000</span>
      </div>
      <div class="line-item">
        <span class="label">Local ID</span>
        <span id="localId" class="data">0000000000</span>
      </div>
      <div class="line-item">
        <span class="label">FIP No</span>
        <span id="fipNo" class="data">1</span>
      </div>
      <div class="line-item">
        <span class="label">Nozzle No</span>
        <span id="nozzelNo" class="data">1</span>
      </div>
      <div class="line-item">
        <span class="label">Product</span>
        <span id="product" class="data">Petrol</span>
      </div>
      <div class="line-item">
        <span class="label">Preset Type</span>
        <span id="presetType" class="data">Amount</span>
      </div>
    </div>


    <div class="info-block">
      <div class="line-item">
        <span class="label">Rate</span>
        <span id="rate" class="data">101.94</span>
      </div>
      <div class="line-item">
        <span class="label">Volume</span>
        <span id="volume" class="data">0001.96</span>
      </div>
      <div class="line-item">
        <span class="label">Amount</span>
        <span id="amount" class="data">200.006</span>
      </div>
    </div>


    <div class="info-block">
      <div class="line-item">
        <span class="label">Atot</span>
        <span id="atot" class="data">0000000000.000</span>
      </div>
      <div class="line-item">
        <span class="label">Vtot</span>
        <span id="vtot" class="data">0000000000.000</span>
      </div>
    </div>


    <div class="info-block">
      <div class="line-item">
        <span class="label">Vehicle No</span>
        <span id="vehicleNo" class="data">Not Entered</span>
      </div>
      <div class="line-item">
        <span class="label">Mobile No</span>
        <span id="mobileNo" class="data">Not Entered</span>
      </div>
      <div class="line-item">
        <span class="label">Date</span>
        <span id="date" class="data">00/00/00</span>
      </div>
      <div class="line-item">
        <span class="label">Time</span>
        <span id="time" class="data">10:00</span>
      </div>
    </div>


    <div class="info-block" id="gstNo">
      <div class="line-item">
        <span class="label">GSTIN</span>
        <span class="data"></span>
      </div>
    </div>
    <div class="info-block" id="cstNo">
      <div class="line-item">
        <span class="label">CST No</span>
        <span class="data"></span>
      </div>
    </div>
    <div class="info-block" id="lstNo">
      <div class="line-item">
        <span class="label">LST No</span>
        <span class="data"></span>
      </div>
    </div>
    <div class="info-block" id="vatNo">
      <div class="line-item">
        <span class="label">VAT No</span>
        <span class="data"></span>
      </div>
    </div>

    <div class="info-block">
      <div class="line-item">
        <span class="label">Attendant ID</span>
        <span id="attendantId" class="data">Not Available</span>
      </div>
      <div class="line-item">
        <span class="label">FCC Date</span>
        <span id="fccDate" class="data">Not Available</span>
      </div>
      <div class="line-item">
        <span class="label">FCC Time</span>
        <span id="fccTime" class="data">Not Available</span>
      </div>
    </div>

    <div class="footer">
      <p>*** Thank You ***</p>
      <p>Drive Safely</p>
    </div>

  </div>
</div>
