<!-- Template 4 – IndianOil Digital Receipt (Chennai Style) -->
<div class="template-container">
  <div class="template-content">

    <div class="pump-logo" style="text-align:center;width:100%;display:block;">
      <img id="pumpLogo" src="assets/images/logos/pump-logo-indian-oil.png" alt="Pump Logo" style="display:inline-block;" />
    </div>

    <div class="station-name center">
      <span id="stationName" class="data">SHYAMALA &amp; COMPANY</span>
    </div>
    <div class="station-sub center">
      <span id="address" class="data">PH Road, Chennai</span>
    </div>

    <div class="tel-row">
      Tel. No.: <span id="telNum" class="data"></span>
    </div>

    <div class="t4-divider"></div>

    <div class="t4-row">
      <span class="t4-label">Receipt No.:</span>
      <span id="receiptNo" class="data">001710</span>
    </div>
    <div class="t4-row">
      <span class="t4-label">FCC ID:</span>
      <span id="fccId" class="data">000003598</span>
    </div>
    <div class="t4-row">
      <span class="t4-label">Nozzle No.:</span>
      <span id="nozzleNo" class="data">01</span>
    </div>

    <div class="t4-divider"></div>

    <div class="t4-row">
      <span class="t4-label">PRODUCT:</span>
      <span id="product" class="data">Petrol</span>
    </div>
    <div class="t4-row">
      <span class="t4-label">RATE/LTR:</span>
      <span class="data">&#8377; <span id="ratePerLtr">101.50</span></span>
    </div>
    <div class="t4-row">
      <span class="t4-label">AMOUNT:</span>
      <span class="data">&#8377; <span id="amount">500</span></span>
    </div>
    <div class="t4-row">
      <span class="t4-label">VOLUME(LTR.):</span>
      <span id="volume" class="data">4.93 lt</span>
    </div>

    <div class="t4-divider"></div>

    <div class="t4-datetime">
      <span>Date: <span id="date" class="data">01 Sep 2025</span></span>
      <span>Time: <span id="time" class="data">03:41</span></span>
    </div>

    <div class="t4-divider"></div>

    <div class="t4-row">
      <span class="t4-label">MODE:</span>
      <span id="modeOfPayment" class="data">Cash</span>
    </div>
    <div class="t4-row" id="lstNoRow">
      <span class="t4-label">LST No.:</span>
      <span id="lstNo" class="data"></span>
    </div>
    <div class="t4-row" id="vatNoRow">
      <span class="t4-label">VAT No.:</span>
      <span id="vatNo" class="data"></span>
    </div>
    <div class="t4-row">
      <span class="t4-label">ATTENDENT ID:</span>
      <span id="attendantId" class="data">Not Available</span>
    </div>

    <div class="t4-divider"></div>

    <div class="t4-footer">
      <div class="t4-stars">********************</div>
      <div>Thank You! Visit Again</div>
      <div>Save Fuel, Save Money.</div>
      <div class="t4-stars">********************</div>
    </div>

  </div>
</div>
