<!-- Template 3 – IndianOil FCC Dot-Matrix Style (Amritsar) -->
<div class="template-container zig-zag-top-bottom">
  <div class="template-content">

    <div class="pump-logo" style="text-align:center;width:100%;display:block;">
      <img id="pumpLogo" src="assets/images/logos/pump-logo-indian-oil.png" alt="Pump Logo" style="display:inline-block;" />
    </div>

    <div class="station-name center">
      <div id="stationName"><span class="data">INDIAN OIL PLAZA</span></div>
    </div>
    <div class="station-address center">
      <div id="address"><span class="data">1 A COURT ROAD, DISTT AMRITSAR</span></div>
    </div>
    <div class="gst-line center" id="gstNo">
      <span class="label-inline">GST NO,</span><span class="data"></span>
    </div>
    <div class="tel-line center" id="telNo">
      <span class="label-inline">Tel. :</span><span id="telNum" class="data">9501210216</span>
    </div>

    <div class="dashes-line">--------ORIGINAL--------</div>
    <div class="dashes-line">------------------------</div>

    <div class="info-block">
      <div class="line-item">
        <span class="label">RCPT ID</span><span class="sep">:</span>
        <span id="rcptId" class="data">1064541250518</span>
      </div>
      <div class="line-item">
        <span class="label">DATE</span><span class="sep">:</span>
        <span id="date" class="data">25/05/2018</span>
      </div>
      <div class="line-item">
        <span class="label">TIME</span><span class="sep">:</span>
        <span id="time" class="data">06:45:41</span>
      </div>
      <div class="line-item">
        <span class="label">TRX. ID</span><span class="sep">:</span>
        <span id="trxId" class="data">13762</span>
      </div>
      <div class="line-item">
        <span class="label">MOP NAME</span><span class="sep">:</span>
        <span id="mopName" class="data">CASH</span>
      </div>
      <div class="line-item">
        <span class="label">PUMP</span><span class="sep">:</span>
        <span id="pumpNo" class="data">5</span>
      </div>
      <div class="line-item">
        <span class="label">NOZZLE</span><span class="sep">:</span>
        <span id="nozzleNo" class="data">2</span>
      </div>
      <div class="line-item">
        <span class="label">PRODUCT</span><span class="sep">:</span>
        <span id="product" class="data">MS</span>
      </div>
      <div class="line-item">
        <span class="label">QUANTITY</span><span class="sep">:</span>
        <span id="quantity" class="data">5.980</span>
      </div>
      <div class="line-item">
        <span class="label">UNIT RATE</span><span class="sep">:</span>
        <span id="unitRate" class="data">83.62</span>
      </div>
      <div class="line-item">
        <span class="label">SALE</span><span class="sep">:</span>
        <span id="sale" class="data">500.00</span>
      </div>
    </div>

    <div class="dashes-line">------------------------</div>

    <div class="info-block">
      <div class="line-item bold-row">
        <span class="label">TOTAL SALE</span><span class="sep">:</span>
        <span id="totalSale" class="data">500.00</span>
      </div>
      <div class="line-item">
        <span class="label">VEHICLE NO</span><span class="sep">:</span>
        <span id="vehicleNo" class="data"></span>
      </div>
      <div class="line-item">
        <span class="label">MOBILE NO</span><span class="sep">:</span>
        <span id="mobileNo" class="data"></span>
      </div>
      <div class="line-item">
        <span class="label">VEHICLE TYPE</span><span class="sep">:</span>
        <span id="vehicleType" class="data"></span>
      </div>
    </div>

    <div class="dashes-line">------------------------</div>

    <div class="tin-line" id="tinNo">
      TIN NO:<span class="data"></span>
    </div>

    <div class="footer">
      <p>Thanks &amp; Visit Again</p>
    </div>

  </div>
</div>
