<!-- Template 7 – IndianOil New Bombay Service Center (Navi Mumbai / HDFC Bank style) -->
<div class="template-container t7-hdfc-wrap">
  <div class="template-content">

    <div class="pump-logo" style="text-align:center;width:100%;display:block;">
      <img id="pumpLogo" src="assets/images/logos/pump-logo-indian-oil.png" alt="Pump Logo" style="display:inline-block;" />
    </div>

    <div class="station-name center">
      <div id="stationName"><span class="data">NEW BOMBAY SER.CENTER.</span></div>
    </div>
    <div class="station-address center">
      <div id="address"><span class="data">PLOT.10/11 SEC.20. K.K.NAVI MUM.400709.</span></div>
    </div>
    <div class="tel-line center">
      TEL.<span id="telNum" class="data">022-27542622/0167.</span>
    </div>
    <div class="gst-line center" id="gstRow">
      GST.<span id="gstNo" class="data">27AADFN6204A1ZU.</span>
    </div>

    <div class="t7-gap"></div>

    <div class="info-block">
      <div class="line-item">
        <span class="label">Bill No</span><span class="sep">:</span>
        <span id="billNo" class="data">133008-ORGNL</span>
      </div>
      <div class="line-item">
        <span class="label">Trns.ID</span><span class="sep">:</span>
        <span id="trnsId" class="data"></span>
      </div>
      <div class="line-item">
        <span class="label">Atnd.ID</span><span class="sep">:</span>
        <span id="atndId" class="data"></span>
      </div>
      <div class="line-item">
        <span class="label">Vehi.No</span><span class="sep">:</span>
        <span id="vehiNo" class="data">NotEntered</span>
      </div>
      <div class="line-item">
        <span class="label">Date</span><span class="sep">:</span>
        <span id="date" class="data">04/01/20</span>
      </div>
      <div class="line-item">
        <span class="label">Time</span><span class="sep">:</span>
        <span id="time" class="data">11:56:08</span>
      </div>
      <div class="line-item">
        <span class="label">FP. ID</span><span class="sep">:</span>
        <span id="fpId" class="data">3</span>
      </div>
      <div class="line-item">
        <span class="label">Nozl No</span><span class="sep">:</span>
        <span id="nozlNo" class="data">3</span>
      </div>
      <div class="line-item">
        <span class="label">Fuel</span><span class="sep">:</span>
        <span id="fuel" class="data">PETROL.</span>
      </div>
      <div class="line-item">
        <span class="label">Density</span><span class="sep">:</span>
        <span id="density" class="data">7447kg/m3</span>
      </div>
      <div class="line-item">
        <span class="label">Preset</span><span class="sep">:</span>
        <span id="preset" class="data">Rs.200</span>
      </div>
      <div class="line-item">
        <span class="label">Rate</span><span class="sep">:</span>
        <span id="rate" class="data">Rs.81.15</span>
      </div>
      <div class="line-item bold-row">
        <span class="label">Sale</span><span class="sep">:</span>
        <span id="sale" class="data">Rs.200.00</span>
      </div>
      <div class="line-item bold-row">
        <span class="label">Volume</span><span class="sep">:</span>
        <span id="volume" class="data">2.46Lts.</span>
      </div>
    </div>

    <div class="t7-gap"></div>

    <div class="info-block">
      <div class="line-item">
        <span class="label">VAT</span><span class="sep">.</span>
        <span id="vatNo" class="data">27120299321.V.2006</span>
      </div>
      <div class="line-item">
        <span class="label">CST</span><span class="sep">.</span>
        <span id="cstNo" class="data">27120299321.C.2006</span>
      </div>
    </div>

    <div class="footer">
      <p>THANK YOU VISIT AGAIN.</p>
    </div>

  </div>
</div>
